{% load static %}

<footer class="h3footer wf100">
    <div class="container">
        <div class="row">
            <!--Footer Widget Start-->
            <div class="col-md-4 col-sm-6">
                <div class="footer-widget">
                    <h3>About Ministry</h3>
                    <p class="text-justify">{{ about.description|slice:":350" }}...
                    </p>
                    {% comment %} <p>Here we have some our Promises:</p>
                    <ul class="quick-links">
                        <li><a href="#">Solar Energy</a></li>
                        <li><a href="#">Waste Management</a></li>
                        <li><a href="#">Eco Ideas</a></li>
                        <li><a href="#">Recycling Materials</a></li>
                        <li><a href="#">Plant Ecology</a></li>
                        <li><a href="#">Saving Wildlife</a></li>
                    </ul> {% endcomment %}
                </div>
            </div>
            <!--Footer Widget End-->
            <!--Footer Widget Start-->
            <div class="col-md-4 col-sm-6">
                <div class="footer-widget">
                    <h3>News & Articles</h3>
                    <ul class="lastest-products">
                        {% for i in news%}
                        <li>
                            <img src="{{i.image.url}}" alt="">
                            <strong><a href="">{{i.title}}</a></strong>
                            <span class="pdate"><i>Posted: {{i.date }}</i></span>
                        </li>
                        {% endfor %}
                        <!-- Add more news items here -->
                    </ul> 
                </div>
            </div>
            <!--Footer Widget End-->
            <!--Footer Widget Start-->
            <div class="col-md-4 col-sm-12">
                <div class="footer-widget">
                    <h3>Stay Updated</h3>
                    <div class="newsletter">
                        <ul>
                            <li><input type="text" placeholder="Your Name"></li>
                            <li><input type="text" placeholder="Your Email"></li>
                            <li><input type="submit" value="Subscribe Now"></li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <!--Footer Widget End-->
        </div>
        <div class="row footer-copyr">
            <div class="col-md-4 col-sm-4"><img src="{{header_logo.image.url}}" alt=""></div>
            <div class="col-md-8 col-sm-8">
                <p><a target="_blank" href="https://www.templateshub.net"></a></p>
            </div>
        </div>
    </div>
</footer>